@{
    ViewData["Title"] = "Åtkomst nekad";
}

<h2>Åtkomst nekad</h2>
<p>Du har inte behörighet att se den här sidan.</p>

<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>