@using System.Security.Claims



@{
    ViewData["Title"] = "Ditt konto";
}
<h2>@ViewData["Title"]</h2>


<p>Ditt användarnamn :@User.Identity.Name</p>
<p>Din roll: @User.FindFirst(ClaimTypes.Role)?.Value</p>


<form asp-action="DeleteAccount" method="post">
    <input type="hidden" name="id" value="@User.FindFirst("UserId")?.Value" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
</form>
<form asp-action="Update" method="post">
    <button type="submit" class="btn btn-primary">Uppdatera konto</button>
</form>
<form asp-action="SignOutUser" method="post">
    <button type="submit" class="btn btn-warning">Logga ut</button>
</form>

