

@{
    ViewData["Title"] = "Lån Sida";
}
<div style="display: flex; justify-content: center">
    <h2>@ViewData["Title"]</h2>
</div>


<div style="display: flex; flex-direction: column; align-items: center; gap: 10px; margin-top: 50px;">
    <a asp-controller="Loan" asp-action="MyLoans" class="btn btn-primary">Visa mina lån</a>
    <a asp-controller="Loan" asp-action="Show" class="btn btn-primary">Visa alla lån</a>
    <a asp-controller="Loan" asp-action="Create" class="btn btn-primary">Skapa lån</a>
    <a asp-controller="Loan" asp-action="" class="btn btn-danger">Ta bort lån</a>
</div>